---
import { Instagram, Linkedin } from "lucide-react";
import { Image } from 'astro:assets';
import HeroImage from '../assets/Hero.webp';
---

<!-- Hero Section -->
<section id="inicio" class="relative w-full h-screen flex items-center justify-start text-left text-[#2175a1] px-8 md:px-16">
    <Image src={HeroImage} alt="Hero Background" class="absolute inset-0 w-full h-full object-cover object-center lg:object-[center_top] -z-10" />
    <div class="max-w-3xl">
        <!-- Título principal -->
        <h1 class="text-4xl md:text-5xl font-extrabold leading-tight animate-fade-in">
            Digital Founders <br/> 
            <span class="text-[#3ca6dd]">La guía práctica para lanzar tu negocio digital desde cero</span>
        </h1>

        <!-- Subtítulo -->
        <p class="mt-4 text-lg md:text-xl opacity-90">
            Convierte tu idea en una startup real, sin perder tiempo ni dinero en el intento.
            <br/>
            Aprende paso a paso cómo validar, lanzar y hacer crecer tu negocio digital en 8 semanas.
        </p>

        <!-- CTA Buttons -->
        <div class="mt-8 flex flex-col gap-3 max-w-[300px]">
            <a href="https://pay.hotmart.com/L98924437P" class="w-full text-center bg-[#2175a1] text-white font-bold py-3 px-6 rounded-lg text-lg shadow-lg hover:bg-[#3ca6dd] transition-transform transform hover:scale-105">
                Unirme al programa 🚀
            </a>
            <a href="#journey" class="w-full text-center bg-[#e6e6e6] font-bold py-3 px-6 rounded-lg border text-lg shadow-lg hover:bg-[#3ca6dd] transition-transform transform hover:scale-105">
                Conoce el programa 🔥
            </a>
        </div>

        <!-- Social Icons -->
        <div class="mt-8 flex gap-6 items-center">
            <a href="https://instagram.com/chokovillena" target="_blank" rel="noopener noreferrer">
                <Instagram size={32} strokeWidth={1.5} class="text-[#2175a1] hover:text-[#3ca6dd] transition" />
            </a>
            <a href="https://linkedin.com/in/alvarovillena" target="_blank" rel="noopener noreferrer">
                <Linkedin size={32} strokeWidth={1.5} class="text-[#2175a1] hover:text-[#3ca6dd] transition" />
            </a>
        </div>
    </div>
</section>

