---

import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<!-- Hero Section -->
<section
    class="relative w-full h-auto flex flex-col items-start text-left text-[#2175a1] px-8 md:px-16 space-y-6 mt-7"
>
    {/* Título principal */}
    <h1 class="text-3xl font-bold text-[#2175a1] z-10 max-w-4xl">
        Revisa mis últimos artículos sobre emprendimiento digital y liderazgo ágil.
    </h1>
</section>

<!-- Other Blog Posts -->
<section
    class="w-full grid grid-cols-1 md:grid-cols-3 gap-6 px-8 md:px-16 py-10"
>
    {
        posts.sort((a, b) => new Date(b.data.date) - new Date(a.data.date)).slice(0, 3).map((post) => (
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-[#2175a1]">
                    {post.data.title}
                </h3>
                <p class="mt-2 text-gray-700">{post.data.description}</p>
                <p class="text-sm text-gray-500">
                    {new Date(post.data.date).toLocaleDateString()}
                </p>
                <a
                    href={`/blog/${post.slug}`}
                    class="mt-4 inline-block text-[#2175a1] font-bold hover:underline"
                >
                    Leer más →
                </a>
            </div>
        ))
    }
</section>

<!-- Go to Blog Page Button -->
<section
    class="w-full grid grid-cols-1 md:grid-cols-3 gap-6 px-8 md:px-16 py-10"
>
    <a
        href="/blog"
        class="bg-[#2175a1] text-white font-bold py-2 px-4 rounded-lg shadow-lg hover:bg-[#3ca6dd] transition"
        >Ver todos los artículos →</a
    >
</section>
