---
import '../../styles/global.css';
import Hero from "./BlogHero.astro";
import FreeClassCTA from "../digital-founders/FreeClassCTA.astro";
import Footer from "../digital-founders/Footer.jsx";
---

<html>
  <body>
    <Hero />
    <FreeClassCTA>
    <Footer />
  </body>
</html>
