<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/icono.png" type="image/png">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Liderazgo Ágil para Gerentes de Producto. Te ayudo a navegar el caos del desarrollo digital con estrategia, herramientas y claridad.">
		<title>Alvaro Villena / Consultorías en Agilidad </title>
		<meta property="og:title" content="Liderazgo Ágil para Gerentes de Producto">
		<meta property="og:description" content="Te ayudo a navegar el caos del desarrollo digital con estrategia, herramientas y claridad.">
		<meta property="og:url" content="https://alvarovillena.cl">
		<!-- Google tag (gtag.js) -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-N65SYS2FHY"></script>
			<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
  			gtag('config', 'G-N65SYS2FHY');
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
